.table_table{
   width: 80%; 
   /* margin: 1rem;  */
   
  }  
  .center{
    display: flex;
    align-items: center;  
    justify-content: center;
   
  }

.table_td{
    border: 1px solid;
  } 

.table_tr{
    border: 1px solid;
  } 

  .form{ 
    text-align: center;
    display: flex;
    gap:2rem; 
    margin: 50px;

  }