.table_table{
    border-collapse: collapse;
   width: 50%;
  } 

.table_td{
    border: 1px solid;
  } 

.table_tr{
    border: 1px solid;
  } 

  .form{ 
    text-align: center;
    display: flex;
    gap:2rem; 
    margin: 50px;

  }