.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #EDE5A0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 

  .sidebar-heading-cont{
    display: flex;
  }
  
  .sidebar-heading {
    font-size: 24px; 
    color: #000;
    margin-bottom: 20px;
  } 

  .sidebar-buttons{
    display:flex ;
    flex-direction: column; 
    gap:2rem; 
  }
  
  .sidebar-button { 
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #76A9B1;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #555;
  }
  
  .logout-button {
    margin-top: auto;
    background-color: #76A9B1;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #76A9B1;
  }