/* GrowthDetailsPage.css */

/* Page styles */
.growth-details-page {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  margin: 2rem;
}

/* Input styles */
.growth-inputs {
  display: flex;
  margin: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.growth-inputs input {
  margin-right: 10px;
  padding: 5px;
  width: 100px;
}

/* Immunization styles */
.immunization {
  margin: 5rem;
}

.tabs button {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.tabs button.active {
  background-color: #4caf50;
  color: #fff;
}

.vaccine-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

.vaccine-input {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}

.delay-info input {
  margin-right: 10px;
}

/* Birth Side Effects styles */
.birth-side-effects label {
  margin-left: 10px;
}


.table_table {
  width: 80%;
  /* margin: 1rem;  */

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.table_td {
  border: 1px solid;
}

.table_tr {
  border: 1px solid;
  text-align: center;
}

.tab-list {
  /* font-family: 'Jua'; */
  padding-left: 0;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: rgb(115, 190, 255);
  border: solid #000000;
  border-width: 2px 2px 1px 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}